{% extends 'diary/home.html' %}
{% load my_tags %}
{% block content %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Дорогой дневник</h1>
        <p class="lead my-3">Я храню все важные события</p>
        {% if user.is_authenticated %}

        <a href="{% url 'diary:diaryentry_create' %}" class="text-decoration-none">
            Создать новую запись
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </a>

        {% endif %}
    </div>
</div>
<div class="row mb-2">
    {% for diar in object_list %}
    <div class="col-md-4">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ diar.name }}</h3>
                <h3 class="mb-0">{{ diar.date_of_event }}</h3>
                <a href="{% url 'diary:diaryentry_detail' diar.pk %}"
                   class="icon-link gap-1 icon-link-hover stretched-link">
                    Продолжить чтение
                    <svg class="bi">
                        <use xlink:href="#chevron-right"/>
                    </svg>
                </a>
            </div>
            <img class="rounded-5" src="{{ diar.image | media_filter }}" alt="">
        </div>
    </div>
        {% endfor %}
</div>

{% for contact in page_obj %}
{# Each "contact" is a Contact model object. #}
{{ contact.full_name|upper }}<br>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая страница</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя страница &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
